/********
GENERAL
********/

/*light color background for the page*/
body {
	background-color: black;
	height: 100%;
	margin: 0%;
	font-size: 12pt;
}

h1 {
	margin-bottom: 1.5%;
	padding: 0%;
	text-align: center;
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 2.5em;
}

h2 {
	text-align: center;
	color: white;
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;	
	text-decoration: underline;
	padding-top: 8%;
}

h3 {
	font-family: 'Comfortaa', cursive;
	font-size: 1.5em;	
	text-decoration: underline;
}

p {
	color: white;
	font-family: 'Comfortaa', cursive;
	font-size: 1.25em;
}

a {
	color: white;
}

li {
	list-style: none;
}

/*Colors
#42647f - Light blue
#87907D - Tan green
#AAB6A2 - Light tan green
#809999 - Greenish grey
#bfcccc - Lighter tint of greenish grey
#a6b7b7 - Darker of the one above, use for hover*/



/********
NAV
********/

.nav_logo {
  width: auto;
  height: 40px;
  margin-top: -25px;
  padding-right: 1%;
}

.navbar {
	background-color: black;
	border: 5px ridge white;
}

.name:hover {
	color: #42647f;
	text-decoration: none;
}

.navlist {
	display: inline;
	text-align: center;
}

.navlink {
  color: white;
  font-size: 1em;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  padding-left: 0%;
  padding-right: 0%;
}

.navlink:hover {
	color: #42647f;
}

.navbar-header {
	padding-left: 0px;
}

.navbar-toggle {
	float: left;
	background-color: #42647f;
}

@media screen and (max-width: 767px) {
	h1 {
		margin-top: 2.5%;
		font-size: 3em;
	}
	.nav_logo {
		width: auto;
  	height: 20px;
  	margin-top: -10px;
	}
	.navlink {
		font-size: 1.25em;
	}
}



/********
PARALLAX
********/

.cd-fixed-bg {
	height: 100%;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0px;
}

/*My Adventure*/
.cd-fixed-bg.cd-bg-1 {
	background-image: url("../images/bw_hike_shutter.jpg");
  border-bottom: 5px ridge grey;
 }

/*Artifacts*/
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../images/hike_shutter.jpg");
  border-bottom: 5px ridge #926239;
}

/*Skills*/
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../images/traveldesk_shutter_screen.png");
  border-bottom: 5px ridge black;
}

/*Contact*/
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../images/traveldesk_shutter_bw_pic.jpg");
  background-color: white;
}



/********
MY ADVENTURE
********/

.frame_photo {
	width: 80%;
	height: 80%;
	display: block;
	margin: 0 auto;
	padding-top: 10%;
	padding-bottom: 8%;
}

.adventure_title {
	font-size: 2.5em;
	padding-top: 9.5%;
	right: 0%;
	left: 0%;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
}

.map-btn {
	background-color: red;
	border: 2px solid white;
	border-radius: 100%;
	width: 0%;
	height: 0%;
	position: absolute;
}

.map_button1 {
   	margin-top: -26%;
   	margin-left: 30%;
}

.map_button2 {
    margin-top: -24.25%;
    margin-left: 41.5%;
    display: none;
}

.map_button3 {
    margin-top: -33%;
    margin-left: 54%;
    display: none;
}

.map_button4 {
	margin-top: -42.5%;
    margin-left: 60.5%;
    display: none;
}

.trail {
	font-family: 'Comfortaa', cursive;
	font-size: 1em;
	color: red;
	font-weight: 700;
	background-color: white;
	border: 2px ridge red;
	margin-right: auto;
	margin-left: 22.5%;
	margin-top: -26.5%;
	position: absolute;
/*Animation for trail sign*/
/*	-webkit-animation-duration: .5s;
	-webkit-animation-delay: .25s;
	-webkit-animation-iteration-count: 10;*/
}

@media screen and (max-width: 415px) {
	.adventure_title {
		margin-top: 55%;
		border: 4px ridge white;
		background-color: black;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		padding: 1%;
	}
	.frame_photo, .trail, .map-btn {
		display: none;
	}
	.cd-bg-1 {
		height: 800px;
	}
/*	#adventure {
		background-image: none;
		border: 5px ridge white;
	}*/
		#adventure {
		background-color: black;
		background-size: 90% 32%;
		border: 5px ridge white;
		background-attachment: scroll;
	}
	h3 {
		color: white;
		font-size: 1.75em;
	}
	p {
		font-size: 1.5em;
	}
	.mobile_adventure {
		margin-top: 62%;
		padding-top: 5%;
		padding-left: 6%;
		padding-bottom: 5%;
		background-color: black;
		opacity: .5;
	}
}

@media screen and (min-width: 415px) {
	.mobile_adventure {
		display: none;
	}
}



/********
ARTIFACTS
********/

.artifacts_title {
	color: #7a5230;
	font-size: 2.5em;
	border: 4px ridge #926239;
	background-color: #d2b48c;
	font-family: 'Pacifico', cursive;
	width: 15%;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
}

.project_1 {
	height: auto;
	width: 27.5%;
	display: block;
	margin: 8% 0% 0% 15%;
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.project_2 {
	height: auto;
	width: 27.5%;
	display: block;
	margin: 8% 0% 0% 55%;
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.project_3 {
	height: auto;
	width: 27.5%;
	display: block;
	margin: 8% 0% 0% 15%;
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.project_4 {
	height: auto;
	width: 27.5%;
	display: block;
	margin: 8% 0% 14% 55%;
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

@media screen and (max-width: 415px) {
	.artifacts_title {
		width: 20%;
		margin-top: 28%;
	}
	#artifacts {
		background-image: none;
		background-color: #d2b48c;
		border: 5px ridge #926239;
	}
	.project_1, .project_2, .project_3, .project_4{
	height: auto;
	width: 80%;
	display: block;
	margin: 0% auto;
	padding-top: 5%;
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
	}
	.project_4 {
		padding-bottom: 25%;
	}
}



/********
SKILLS
********/

.skills_title {
	color: white;
	font-size: 2.5em;
	border: 4px ridge white;
	background-color: black;
	font-family: 'Pacifico', cursive;
	width: 13%;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
}

.skills_container {
    color: white;
    font-family: 'Comfortaa', cursive;
    margin-top: 26%;
    z-index: -1;
    padding-left: 6px;
    padding-bottom: 10%;
}

.list_title {
	font-size: 2.25em;
	font-weight: 700;
	text-decoration: underline;
	text-align: center;
}

.skills_list {
	font-size: 1.5em;
	font-weight: 700;
	padding: 0px;
	text-align: center;
}

@media screen and (max-width: 415px) {
	.skills_title {
		width: 20%;
		margin-top: 28%;
	}
	#skills {
		background-size: 90% 40%;
		border: 5px ridge white;
		background-attachment: scroll;
		height: 600px;
	}
	.skills_container {
		z-index: 1;
	}
	.web_skills {
		display: none;
	}
	.mobile_skills {
		margin-top: 45%;
	}
}

@media screen and (min-width: 415px) {
	.mobile_skills {
		display: none;
	}
}

/********
CONTACT
********/

.contact_title {
	color: black;
	font-size: 2.5em;
	border: 4px ridge black;
	background-color: white;
	font-family: 'Pacifico', cursive;
	width: 13%;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
}

.contact_info {
	border: 4px ridge white;
	background-color: black;
	color: white;
	font-family: 'Comfortaa', cursive;
	font-size: 1.25em;
	width: 32%;
  margin: 8% 0% 18% 4%;
	padding: 1%;
}

.contact_links {
	color: white;
	text-decoration: underline;
}

.contact_links:hover {
	color: #42647f;
}

@media screen and (max-width: 415px) {
	.contact_title {
		width: 20%;
		margin-top: 25%;
	}
	#contact {
		background-size: 90% 40%;
		border: 5px ridge black;
		background-attachment: scroll;
		height: 600px;
	}
	.contact_info {
		margin: 75% auto 0;
		width: 50%;
	}
}



/********
FOOTER
********/






/********
NOTES
********/

/*1. Might be able to make the "section_containers" more DRY*/

/*2. This code is to help future polaroid projects get the information correctly formattted in Photoshop.

.photo_text {
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	width: 340px;
	height: 100px;
	font-size: 12px;
	margin-left: 3px;
	margin-top: 107px;
}

.skills_container {
	height: 1000px;
	padding-top: 10%;
	background-image: url("../images/polaroid2.png");
}

*/

/*3.*/

/*Just in case for post-MVP

<div id="overflow-container">
	<h2 class="section_title">About</h2>
	<img class="matterhorn" src="images/matterhorn.jpg">
</div>

.matterhorn {
	width: 100%;
	height: 500px;
	z-index: -8000;
	position: relative;
	overflow: hidden;
}*/