
/********
GENERAL
********/

/*light color background for the page*/
body {
	background-color: black;
	height: 100%;
	margin: 0px;
}

.section_title {
	text-align: center;
	color: white;
	font-family: 'Pacifico', cursive;
	font-size: 3em;	
	text-decoration: underline;
	padding-top: 8%;
}

li {
	list-style: none;
}

/*Colors
#42647f - Light blue
#87907D - Tan green
#AAB6A2 - Light tan green
#809999 - Greenish grey
#bfcccc - Lighter tint of greenish grey
#a6b7b7 - Darker of the one above, use for hover*/



/********
NAV
********/

.navlogo {
	margin-right: 1%;
    margin-left: 1%;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
	background-color: black;
	border: 5px ridge white;
	margin-bottom: 0px;
}

.h1_name {
	padding: 0px;
	margin-top: 10px;
	text-align: right;
}

.name {
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 42px;
}

.name:hover {
	color: #42647f;
	text-decoration: none;
}

.navlist {
	display: inline;
	text-align: right;
}

.navlink {
    color: white;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    padding: 0px;
    width: 175px;
    margin-left: 36px;
}

.navlink:hover {
	color: #42647f;
}

@media screen and (max-width: 680px) {
	.name	{
		font-size: 24px;
	}
}

@media screen and (min-width: 680px) and (max-width: 989px) {
	.name	{
		font-size: 27px;
	}
}



/********
PARALLAX
********/

.cd-fixed-bg {
	height: 100%;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
	padding: 0px;
}

/*My Adventure*/
.cd-fixed-bg.cd-bg-1 {
	background-image: url("../images/bw_hike_shutter.jpg");
   padding-top: 5%;
   padding-bottom: 8%;
   border-bottom: 5px ridge grey;
 }

/*Artifacts*/
.cd-fixed-bg.cd-bg-2 {
  	background-image: url("../images/hike_shutter.jpg");
  	height: 1800px;
  	border-bottom: 5px ridge #926239;
}

/*Skills*/
.cd-fixed-bg.cd-bg-3 {
  	background-image: url("../images/traveldesk_shutter.jpg");
  	height: 900px;
  	border-bottom: 5px ridge black;
}

/*Contact*/
.cd-fixed-bg.cd-bg-4 {
  	background-image: url("../images/contact.jpg");
  	height: 800px;
}



/********
MY ADVENTURE
********/

.frame_photo {
	width: 80%;
	height: 80%;
	display: block;
	margin: 0 auto;
	padding-top: 6%;
}

.adventure_title {
	font-size: 2.5em;
	padding-top: 5.58%;
	margin-left: 43%;
	position: absolute;
}

.map_button1 {
	background-color: red;
   border: 2px solid white;
   border-radius: 50%;
   width: 0%;
   height: 0%;
   margin-top: -17.25%;
   margin-left: 32%;
   position: absolute;
}

.map_button2 {
	background-color: red;
	border: 2px solid white;
	border-radius: 100%;
	width: 0%;
	height: 0%;
	margin-top: -15.45%;
	margin-left: 42.2%;
	position: absolute;
}

.map_button3 {
	background-color: red;
	border: 2px solid white;
	border-radius: 100%;
	width: 0%;
	height: 0%;
	margin-top: -25.3%;
	margin-left: 54.55%;
	position: absolute;
}

.map_button4 {
	background-color: red;
	border: 2px solid white;
	border-radius: 100%;
	margin-top: -33.4%;
	margin-left: 59.92%;
	position: absolute;
}



/********
ARTIFACTS
********/

.project1_position {
	margin-left: 11%;
	margin-top: 4%;
	display: inline-block;
	-ms-transform: rotate(-7deg); /* IE 9 */
   -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
   transform: rotate(-7deg);
}

.project2_position {
	margin-left: 62%;
	margin-top: -3%;
	display: inline-block;
	-ms-transform: rotate(7deg); /* IE 9 */
   -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
   transform: rotate(7deg);
}

.project3_position {
	margin-left: 11%;
	margin-top: -3%;
	display: inline-block;
	-ms-transform: rotate(-7deg); /* IE 9 */
   -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
   transform: rotate(-7deg);
}

.project4_position {
	margin-left: 62%;
	margin-top: -3%;
	display: inline-block;
	-ms-transform: rotate(7deg); /* IE 9 */
   -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
   transform: rotate(7deg);
}



/********
SKILLS
********/

.skills_title {
	color: black;
	padding-top: 7%;
}

.skills_container {
	color: black;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
	margin-left: 55%;
	margin-top: 9%;
}

.list_title {
	font-weight: 700;
	text-decoration: underline;
}

.skills_list {
	font-size: 16px;
	padding: 0px;
}



/********
CONTACT
********/

.contact_info {
	border: 3px ridge white;
	background-color: black;
	color: white;
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	width: 30%;
	margin-top: 15%;
	margin-left: 10%;
	padding: 1%;
}

.contact_links {
	color: white;
	text-decoration: underline;
}



/********
FOOTER
********/










/********
NOTES
********/

/*1. Might be able to make the "section_containers" more DRY*/

/*2. This code is to help future polaroid projects get the information correctly formattted in Photoshop.

.photo_text {
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	width: 340px;
	height: 100px;
	font-size: 12px;
	margin-left: 3px;
	margin-top: 107px;
}

.skills_container {
	height: 1000px;
	padding-top: 10%;
	background-image: url("../images/polaroid2.png");
}

*/

/*3.*/

/*Just in case for post-MVP

<div id="overflow-container">
	<h2 class="section_title">About</h2>
	<img class="matterhorn" src="images/matterhorn.jpg">
</div>

.matterhorn {
	width: 100%;
	height: 500px;
	z-index: -8000;
	position: relative;
	overflow: hidden;
}*/